In [1]:
from datetime import datetime
now = datetime.now()
print(now)

2021-01-22 20:19:34.052415

In [2]:
print("Name : Ramesh Bhutka")
print("Sap ID:- 53004190003")

Name : Ramesh Bhutka
Sap ID:- 53004190003

## SVM

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Ramesh-Bhutka/AAI/main/apples_and_oranges.csv")

In [4]:
df.head()

   Weight  Size   Class
0      69  4.39  orange
1      69  4.21  orange
2      65  4.09  orange
3      72  5.85   apple
4      67  4.70  orange

In [5]:
df.isnull().any()

Weight    False
Size      False
Class     False
dtype: bool

In [6]:
# splitting target variable
X = df.drop('Class',axis=1)
y=df['Class']

In [7]:
# spliting data in to Train set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
X_train.shape

(28, 2)

In [9]:
X_test.shape

(12, 2)

In [10]:
from sklearn.svm import SVC
classifier = SVC(kernel='rbf', random_state = 1)
classifier.fit(X_train,y_train)

SVC(random_state=1)

In [11]:
y_pred = classifier.predict(X_test)

In [12]:
y_pred

array(['apple', 'orange', 'orange', 'orange', 'orange', 'apple', 'apple',
       'orange', 'apple', 'apple', 'apple', 'orange'], dtype=object)

In [13]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

    Actual Predicted
19   apple     apple
16  orange    orange
15  orange    orange
26  orange    orange
4   orange    orange
12   apple     apple
37   apple     apple
27  orange    orange
39   apple     apple
6    apple     apple
25   apple     apple
9   orange    orange

In [14]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
accuracy = float(cm.diagonal().sum())/len(y_test)
print("\nAccuracy Of SVM For The Given Dataset : ", accuracy)

Accuracy Of SVM For The Given Dataset :  1.0